body{
  cursor: pointer;
  background-size: cover;
}
h1
{
    color: aquamarine; 
    font-size: 40px;
}
#myCanvas
{
    border-width:10px;
    background-color: yellowgreen; 
    border-style:ridge;
}

button {
  background-color: yellow;
  border: none;
  color: red;
  padding: 10px 42px;
  font-size: 16px;
}

input
{
  margin-right: 20px;
}
